<mat-card class="container-card">
    <mat-card-title class="card-title">EDUCATIONAL INFORMATION</mat-card-title>
    <mat-card-content class="card-content">
        <div class="">
            <div class="add-edu-button">
                <button (click)="onAddEducation()">ADD EDUCATION</button>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content>
        <p-timeline [value]="education" class="time-line">

            <ng-template pTemplate="content" let-education let-i="index">
                <small class="p-text-secondary">{{education.universityName}}</small>
                <!-- <button (click)="removeEducation(i)"></button> -->
            </ng-template>
            <ng-template pTemplate="opposite" let-education>
                <small class="p-text-secondary">{{education.educationDate}}</small>
            </ng-template>
        </p-timeline>
    </mat-card-content>
</mat-card>