<main class="main">
  <mat-card appearance="outlined" class="main-card">
    <mat-card-content>
      <app-profile
        [profile]="profile"
        (updatedProfile)="updateProfile($event)"
      ></app-profile>
    </mat-card-content>

    <mat-card-content>
      <app-contact>

      </app-contact>
    </mat-card-content>

    <mat-card-content>
      <app-education [educationList]="educationList"></app-education>
    </mat-card-content>

    <mat-card-content>
      <app-skill [skillList]="skillList" (updatedSkills)="updateSkills($event)"></app-skill>
    </mat-card-content>

    <mat-card-content>
      <app-interests [interestsList]="interestsList" (updatedInterests)="updateInterests($event)"></app-interests>
    </mat-card-content>

    <mat-card-content>
      <app-guild [guildList]="guildList" (updateGuilds)="updateGuilds($event)"></app-guild>
    </mat-card-content>

   <mat-card-actions>
    <button (click)="onSubmit()">
      save
    </button>
   </mat-card-actions>

  </mat-card>
</main>

<router-outlet></router-outlet>
