/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'assets/component/index.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-card{
    background-color: #EFEDED;
}

.container-card{
    background-color: white;
}


input,textarea{
    border-radius: 3px;
    outline: none;
    border-color: rgb(179, 177, 177);
    resize: none;
}